body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    
}

.image-container {
    width: 300px;
    height: 200px;
    max-width: 90%;
    max-height: 300px;
    min-width: 150px;
    min-height: 100px;
    overflow: hidden; /* Esconde cualquier contenido que exceda el contenedor */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Cubre todo el contenedor manteniendo la relación de aspecto */
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
